<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Create an Account </h1>
    <form action="" method="POST">
        {% csrf_token %}
        username: <input type="text" name="username"/><br/>
        password: <input type="text" name="password"/><br/>
        <input type="submit" value="Users"/>
    </form>
    <h1>Retrieve Songs by Name</h1>
    <form action="" method="POST">
        {% csrf_token %}
        Username: <input type="text" name="un_song"/><br/>
        <input type="submit" value="Ratings"/>
    </form>
</body>
</html>