<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Create an Account </h1>
    <form action="" method="POST">
        {% csrf_token %}
        Username: <input type="text" name="username"/><br/>
        Password: <input type="text" name="password"/><br/>
        <input type="submit" value="Create" name="createAccount"/>
    </form>
    <div>
        {{ createAccountResponse }}
    </div>
    <h1>Retrieve Songs by Name</h1>
    <form action="" method="POST">
        {% csrf_token %}
        Username: <input type="text" name="un_song"/><br/>
        <input type="submit" value="Retrieve" name="retrieveSongs"/>
    </form>
    <div>
        {{ songsRatingsResponse }}
    </div>
    <h1>Get Artist Info</h1>
    <form action="" method="GET">
        {% csrf_token %}
        Artist name: <input type="text" name="artist_name"/><br/>
        <input type="submit" value="Let's Go!" name="getArtistSign"/>
    </form>
    <div>
        {{ artistName }} <br>
        {{ artistGenre }} <br>
        {{ artistBirthplace }}<br>
        {{ artistAstro }}
    </div>
</body>
</html>